// Import the theme’s variables. If you’re using a color scheme
// other than “light”, switch the path to the alternative scheme,
// for example '~nativescript-theme-core/scss/dark'.
@import '~nativescript-theme-core/scss/light';

// Customize any of the theme’s variables here, for instance $btn-color: red;

// Import the theme’s main ruleset.
@import '~nativescript-theme-core/scss/index';

// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.

@import 'variables';
.icomoon {
    font-family: 'icomoon';
  
 }

 .social-icon-Button
 {
     color: white;
     z-index:1;
     text-align: center; 
     vertical-align: middle;
 }

 .googleFontSize
 {
    font-size: 20;
 }

 .facebookFontSize
 {
    font-size: 18;
 }

 
.margin-page {
	margin-left: 11%;
	margin-right: 11%;
	margin-top: 8%;
	margin-bottom: 5%;
}

@mixin small-text($font-weight, $font-size , $text-align) {
	font-weight: $font-weight;
	font-size: $font-size;
	color: $color_mountain_mist_approx;
	text-align: $text-align;
  }

  .forget-password-text {
	@include small-text(500, 12, right);
}
.social-media-text {
	@include small-text(400, 12, center);
}
.signup-text {
	@include small-text(500, auto, center);
}


@mixin round-button($border-radius, $background-color) {
	border-radius: $border-radius;
	background-color: $background-color;
	color: $white;
}

.login-button { @include round-button($button-border-radius, $color_ebony_clay_approx); }
.google-button { @include round-button($button-border-radius, $color_valencia_approx); }
.facebook-button { @include round-button($button-border-radius, $color_cerulean_blue_approx); }


.signup-link {
	color: $color_ebony_clay_approx;
	border-bottom-width: 1;
	border-bottom-color: $color_ebony_clay_approx;
	border-style: double;
}


.text-field-custom {
	border-bottom-color: $color_mountain_mist_approx;
	border-bottom-width: 1;
	placeholder-color: $hint_color;
	font-size:14; 
	font-weight: 500;
}

.marginTop10 { margin-top:10%; }
.marginTop4 { margin-top:4%; }
.fontSize16 { font-size:16; }
.marginTopClass { margin-top: 4.5%;  } 
.marginButtomClass { margin-bottom: 4.5%; }
.marginleftTwo  {  margin-left: 2%;   } 
.marginRightTwo { margin-right: 2%;  }
.zIndexZero { z-index: 0; }