@import 'variables';

.marginPage {
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 7%;
	margin-bottom: 5%;
}


.forgetPassword {
	color: $color_mountain_mist_approx;
	text-align: right;
	padding-top: 4%;
	font-size: 12;
	font-weight: 500;
}

@mixin round-button($radius) {
			border-radius: $radius;
  }

.socialMedia {
	color: $color_mountain_mist_approx;
	text-align: center;
	margin-left: 2;
	margin-right: 2;
	font-size: 12;
}



.sizeBtn {
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 40%;
	color: $white;
	// height: 30%;
}
.loginBtn {
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 40%;
	color: $white;
	height: 35%;
	width: 100%;
}
.google {
	background-color: $color_valencia_approx;
	font-size: 14;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 40%;
}
.facebook {
	background-color: $color_cerulean_blue_approx;
	font-size: 14;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 40%;
}
.line {
	background-color: $color_mountain_mist_approx;
	height: 1;
}
.signUP {
	color: $color_ebony_clay_approx;
	border-bottom-width: 1;
	border-bottom-color: $color_ebony_clay_approx;
}
.textField {
	border-bottom-color: $color_mountain_mist_approx;
	border-bottom-width: 1;
	placeholder-color: $color_chicago_approx;
	placeholder-font-weight: bold;
}