@import 'variables';

.margin-page {
	margin-left: 12.3%;
	margin-right: 12.3%;
	margin-top: 7%;
	margin-bottom: 5%;
}

@mixin small-text($font-weight, $font-size , $text-align) {
	font-weight: $font-weight;
	font-size: $font-size;
	color: $color_mountain_mist_approx;
	text-align: $text-align;
  }

.forget-password-text {
	@include small-text(500, 12, right);
}
.social-media-text {
	@include small-text(400, 13, center);
}
.signup-text {
	@include small-text(500, auto, center);
}

@mixin round-button($border-radius, $background-color) {
	border-radius: $border-radius;
	background-color: $background-color;
	color: $white;
}

.login-button { @include round-button($button-border-radius, $color_ebony_clay_approx); }
.google-button { @include round-button($button-border-radius, $color_valencia_approx); }
.facebook-button { @include round-button($button-border-radius, $color_cerulean_blue_approx); }

.line {
	background-color: $color_mountain_mist_approx;
	height: 1;
}

.signup-link {
	color: $color_ebony_clay_approx;
	border-bottom-width: 1;
	border-bottom-color: $color_ebony_clay_approx;
	border-style: double;
}

.text-field-custom {
	border-bottom-color: $color_mountain_mist_approx;
	border-bottom-width: 1;
	placeholder-color: $hint_color;
	font-size:14; 
	font-weight: 500;
}