$color_1: #ffffff;
$color_2: #999999;
$color_3: white;
$color_4: #232B41;
$color_5: #3e4149;
$background_color_1: #232B41;
$background_color_2: #DC4E41;
$background_color_3: #2553B4;
$background_color_4: #d9d9d9;
$border_bottom_color_1: #232B41;