//colors
$color_mountain_mist_approx: #909090;
$white: white;
$color_valencia_approx: #dc4e41;
$color_cerulean_blue_approx: #2553b4;
$color_ebony_clay_approx: #232b41;
$color_chicago_approx: rgb(89, 89, 89);