//colors
$color_mountain_mist_approx: #969595;
$line_color :#B1B1B1;
$white: #ffffff;
$color_valencia_approx: #DC4E41;
$color_cerulean_blue_approx: #2553B4;
$color_ebony_clay_approx: #232B41;
$color_chicago_approx: #C1C1C1;
$hint_color :#727272;
$button-border-radius: 40%;