@import 'app-common';
@import '~nativescript-theme-core/scss/platforms/index.android';
@import 'variables';
// Place any CSS rules you want to apply only on Android here






// .line {
// 	background-color: $line_color;
// 	height: 0.8;
// }



// .fontSizeTwelve { font-size: 12; } 
// .height13 { height:13% }
// .androidSpac6 { margin-bottom:6%; }
// .leftFive { margin-left: .5%; }
// .rightFive { margin-right: .5%; }
// .marginNine { margin-top: 9.2%; }