@import 'app-common';
@import '~nativescript-theme-core/scss/platforms/index.ios';

@import 'variables';
// Place any CSS rules you want to apply only on iOS here



.line {
	background-color: $color_mountain_mist_approx;
	height: 1;
}








// .androidSpac6 { margin-bottom:9%; }
// .marginNine { margin-top: 8.6%; }
// .height13 { height:12% }

// .leftFive { margin-left: .5; }
// .rightFive { margin-right: .5; }
// .fontSizeTwelve { font-size: 14; } 
