.marginPage
{
    margin-left: 10%;   
    margin-right: 10%;   
    margin-top: 7%;   
    margin-bottom: 5%;  

}

.forgetPassword
{
    color: #909090;
    text-align: right;
    padding-top: 4%;
    font-size: 12;
    font-weight: 500;
}
.socialMedia
{
    color: #909090;
    text-align: center;
    margin-left: 2;
    margin-right: 2;
    font-size: 12;
}

.sizeBtn
{
    border-radius: 40%;
    color: white;
    height:30%;
    width:45%;
}

.loginBtn
{
    border-radius: 40%;
    color: white;
    height:35%;
    width:100%;
}

.google
{
    background-color: #dc4e41;
    font-size: 12;
    border-radius: 40%;
}
.facebook
{
    background-color: #2553b4;
    font-size: 12;
    border-radius: 40%;
}

.line
{
    background-color: #909090;
    height: 1;

}

.signUP
{
    color:#232b41; 
    border-bottom-width: 1;
    border-bottom-color:#232b41;
}

.textField
{
    border-bottom-color:#909090; border-bottom-width:1;
    placeholder-color:rgb(89, 89, 89); 
    placeholder-font-weight:bold;
    
}