<StackLayout backgroundColor="#F3F3F3">
    <GridLayout rows="*,5*,40%" columns="*" class="margin-page">
        <StackLayout>
            <Image src="res://logogoat" width="140%" height="140%"></Image>
        </StackLayout>
        <StackLayout row="1">
            <StackLayout style="margin-bottom:12%">
                <GridLayout rows="auto,auto,auto" columns="2*,auto,2*" style="margin-top:12%;">
                    <Label row="0" col="1" style="margin-bottom:2%; font-size:21; color: black;" text="Forgotten your password?" horizontalAlignment="center" ></Label>
                    <Label row="1" col="1" text="Please enter your email address" style="font-size: 16" horizontalAlignment="center"></Label>
                    <Label row="2" col="1" text="and we'll get you back on track." style="font-size: 16" horizontalAlignment="center"></Label>
                </GridLayout>
            </StackLayout>

            <StackLayout style="margin-bottom: 15%">
                <TextField [(ngModel)]="textFieldValue" hint="Email Address" class="text-field-custom" android:style="margin-bottom:1%;"
                    ios:style="margin-bottom:5%;"></TextField>
                <Button text="SUBMIT" (tap)="onButtonTap()" class="login-button" android:style="margin-top:17%;font-size:14;" ios:style="margin-top:14%; height: 20%;font-size:14;"></Button>
            </StackLayout>
            <StackLayout>
                <GridLayout columns="*,auto,*" rows="auto"   >
                    <StackLayout col="1"  (tap)="gobackTologin()" >
                        <Label  text="Return to login"   style="text-align: center; font-size:16" class="signup-link"></Label>
                    </StackLayout>
                </GridLayout>
            </StackLayout>
        </StackLayout>
    </GridLayout>
</StackLayout>